body {
  margin: 0px;
  font-family: Verdana, sans-serif;
}

header {
  padding: 0 16px;
}

header h1 {
  color: black;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  margin: 16px 0 16px 0;
}




/* タブメニュー */
.container {
  margin: 30px auto;
  width: 500px;
}
.tab {
  display: flex;
  line-height: 40px;
}
.tab li {
  width: 300px;
}
.tab li a {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}
.tab li a.active {
  background: #333;
  color: #fff;
}
.tab li a:not(.active):hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.content.active {
  background: #333;
  color: #fff;
  min-height: auto;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
.content {
  display: none;
}

  /* 真太郎メニュー */
.shintaro {
  list-style: none;
  padding: 0; 
  margin: 0;  
}
.shintaro li {
  padding: 8px;
}
.shintaro li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer; 
}
.shintaro li a:hover {
  opacity: 0.5;
}
/* 信人メニュー */
.nobuto {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.nobuto li {
  padding: 8px;
}
.nobuto li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.nobuto li a:hover {
  opacity: 0.5;
}
/* 彰メニュー */
.akira {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.akira li {
  padding: 8px;
}
.akira li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.akira li a:hover {
  opacity: 0.5;
}
/* 克哉メニュー */
.katsuya {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.katsuya li {
  padding: 8px;
}
.katsuya li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.katsuya li a:hover {
  opacity: 0.5;
}
/* 誠果メニュー */
.seika {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.seika li {
  padding: 8px;
}
.seika li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.seika li a:hover {
  opacity: 0.5;
}

h2 {
  text-align: center;
  margin-top: 8px;
  padding: 56px 0 8px;
}


/* スライドショー */
main {
  width: 600px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#freedomeuwt-1 {
  width: 100%;
  height: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}
img {
  vertical-align: bottom;
}
nav {
  margin: 8px;
}
nav ul {
  display: flex;
  width:584px;
}
nav li {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
} 
nav li:hover {
  background: #f8f8f8;
}
#prev, #next {
  width: 100%;
}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 146px);
  gap: 5px;
}
.thumbnails li {
  cursor: pointer;
  opacity: 0.6;
}
.thumbnails li:hover,
.thumbnails li.current {
  opacity: 1;
}
.thumbnails img {
  width: 146px;
  margin-bottom: 62px;
}


/* サイトメニュー */

.othersite {
  padding: 64px 0;
}
.othersite section {
  background: rgb(231, 231, 231);
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.sitemenu {
  margin: 0 86px 0 86px;
}

.sitemenu #instrument {
  transform: translateY(50%)
}
.sitemenu #map {
  transform: translateY(50%)
}
.sitemenu #camp {
  transform: translateY(50%)
}

.sitemenu section + section {
  margin-top: 16px;
}

.othersite .sitemenu {
  display: flex;
  gap: 48px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-rows: 80px;
}

.othersite  section + section {
  margin-top: 0;
}

/* サイトメニューアニメーション */

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .6s, transform .6s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.animate.delay1 {
  transition-delay: .3s;
}

.animate.delay2 {
  transition-delay: .6s;
}
.animate.delay3 {
  transition-delay: .9s;
}
.animate.delay4 {
  transition-delay: 1.2s;
}
.animate.delay5 {
  transition-delay: 1.5s;
}

.animate:hover {
  transition: none;
  opacity: 0.5;
}



/* フッター */
footer {
  font-size: 12px;
  text-align: center;
  padding: 32px;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}
footer li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
footer li a:hover {
  opacity: 0.5;
}


@media (max-width: 600px) {
  #top {
    font-size: 46px;
  }

  h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
    padding: 56px 0 8px;
  }

  .tab li a {
    font-size: 14px;
  }

  main {
    width: 300px;
    margin: 0 auto;
  }
  nav ul {
    width:284px;
  }
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(5, 56px);
    gap: 5px;
  }
  .thumbnails img {
    width: 56px;
  }


  .othersite {
    font-size: 10px;
  }

  .sitemenu {
    margin: 0 16px 0 16px;
  }

  .sitemenu section + section {
    margin-top: 16px;
    margin: 0;
  }

  .othersite .sitemenu {
    grid-auto-rows: 60px;
    gap: 16px;
  }

}